
$contactos:(
    h6:20px,
    h5:18px,
    h4:15px
);
footer{
    width: 100%;
    text-align: center;
    padding: 25px 0px;
    background-color: rgb(255, 102, 0);
    color: white;
    @each $contacto, $size in $contactos {
        .p-#{$contacto}{
            font-size: $size;
        }
    }
}
