header{
    background: rgb(90,123,186);
    background: linear-gradient(90deg, rgba(90,123,186,1) 0%, rgba(36,29,117,1) 55%);
    padding: 20px;
    font-family: "Roboto Flex", sans-serif;
    top: 0px;
    display: flex;
    justify-content: space-between;

    .titulo{
        color: rgb(252, 252, 252);
        font-weight: 900;
        font-size: 36px;
    }
    
    .menu{
    display: flex;
    list-style-type: none;
    align-items: center;
    height: 100%;
    }
    
    .menu li{
        margin-right: 10px;
        font-weight: 200;
        font-size: 11px;
        text-align: right;
    }
    

    .menu a{
        text-decoration: none;
        color: #FFFFFF;
    }
    
    .menu img{
        margin-bottom: -6px;
        width: 32px;
        height: 32px;
    }
}

@media (max-width: 1040px){
    ul{
        display: none;
    }
    
    .menu{
        display: none;
    }
    input:checked  ~ ul{
        display:block;
    }
    #input_menu {
        display: none;
    }
    #label_menu {
        box-sizing: border-box;
        display: inline-block;
        border: 1px solid white;
        border-radius: 5px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-weight: bold;
        text-align: center;
        user-select: none;
        color: white;
    
    }
    .menu li{
        display: block;
        /* background: lightgrey; */
        margin: 0;
        padding: 10px;
        list-style: none;
        border-bottom: 1px solid grey;
        text-align: center;
    }
    
    .botones{
        border:none!important;
    }
    .menu img{
        margin-bottom: -6px;
        width: 20px;
        height: 20px;
    }
}
.iconos_responsive{
    display:flex;
    justify-content: space-between;
}

.estilomenu{
    font-size: 15px;
    transition: all 1s;
}

.estilomenu:hover{
    font-size: 20px;
}

.rotate{animation:rotate-vert-left 2s}
@keyframes rotate-vert-left{0%{transform:rotateY(0);transform-origin:left}100%{transform:rotateY(360deg);transform-origin:left}}

@media(min-width:1040px){
    #input_menu {
        display: none;
    }
    #label_menu{
        display:none;
    }
    
}
@media (max-width: 600px){
    header{
        display: block;
    }
}