header{
    background: $secondaryColor;
    background: $mainColor;
    padding: 20px;
    font-family: $fontRoboto;
    top: 0px;
    display: flex; 
    justify-content: space-between;

    .navbar{
        width: 100%;

        .navbar-brand{
            color: rgb(252, 252, 252);
            font-weight: 900;
            font-size: 36px;
        }
    
        .nav-link{
            box-sizing: border-box;
            font-family: $fontRoboto;
            color: rgb(255, 255, 255);

            
            .nav-link:hover{
                font-size: 20px;
                color: rgb(139, 145, 230);
            }
        }
        
        .navbar-collapse{
            flex-grow:0;
        }
    }

    .iconos_responsive{
    
            .iconos_responsive a{
            margin-right: 20px;
        }
    
        .rotateicon-1{-webkit-animation:bounce-in-top 1.5s both;animation:bounce-in-top 1.5s both}
        .rotateicon-2{-webkit-animation:bounce-in-top 1.5s both;animation:bounce-in-top 1.5s both}
        .rotateicon-3{-webkit-animation:bounce-in-top 1.5s both;animation:bounce-in-top 1.5s both}
    
        @for $iconos from 1 through 3 {
            .rotateicon-#{$iconos}{
                animation-delay: $iconos*1s;
            }
        }
    }
}



.estilomenu:hover{
    font-size: 20px;
}



@media(min-width:1040px){
    #input_menu {
        display: none;
    }
    #label_menu{
        display:none;
    }
    
}
@media (max-width: 600px){
    header{
        display: block;
    }
}

 @-webkit-keyframes bounce-in-top{0%{-webkit-transform:translateY(-500px);transform:translateY(-500px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;opacity:0}38%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;opacity:1}55%{-webkit-transform:translateY(-65px);transform:translateY(-65px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}72%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}81%{-webkit-transform:translateY(-28px);transform:translateY(-28px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}90%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}95%{-webkit-transform:translateY(-8px);transform:translateY(-8px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}100%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}@keyframes bounce-in-top{0%{-webkit-transform:translateY(-500px);transform:translateY(-500px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;opacity:0}38%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;opacity:1}55%{-webkit-transform:translateY(-65px);transform:translateY(-65px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}72%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}81%{-webkit-transform:translateY(-28px);transform:translateY(-28px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}90%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}95%{-webkit-transform:translateY(-8px);transform:translateY(-8px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}100%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}}
