@import url('https://fonts.googleapis.com/css2? family= Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700 & family= Roboto+Flex:opsz, wght@8..144,100;8..144,400;8..144,600;8..144,700;8..144,800 & display=swap');

$fontRoboto: 'Roboto Condensed', sans-serif;

$mainColor: linear-gradient(90deg, rgba(90,123,186,1) 0%, rgba(36,29,117,1) 55%);
$secondaryColor: rgb(90,123,186);

$colors: blue,blue, blue;

%plantillahover{
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    transition: all 0.8s ease;
    &:hover{
        box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
        transform: translateY(-3%);
    }
}


