@import url('https://fonts.googleapis.com/css2? family= Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700 & family= Roboto+Flex:opsz, wght@8..144,100;8..144,400;8..144,600;8..144,700;8..144,800 & display=swap');

$fontRoboto: 'Roboto Condensed', sans-serif;


$mainColor: linear-gradient(90deg, rgba(90,123,186,1) 0%, rgba(36,29,117,1) 55%);
$secondaryColor: rgb(90,123,186);